.add-restaurant-form {
  display: table-caption;
}

.restaurant-name {
  font-weight: bold;
}

.home-page {
  margin-left: 20px;
  margin-top: 20px;
}

.empty-search-image {
  width: 50%;
  margin-left: 90px;
  margin-top: 30px;
}

.restaurant-page-restaurant-title {
  font-size: x-large;
}

.restaurant-page {
  display: grid;
  grid-template-columns: 75% 25%;
  height: 92vh;
}

.restaurant-page-left-side {
  border-style: solid;
  overflow-y: scroll;
  display: grid;
  grid-template-rows: 80% 20%;
}

.restaurant-page-right-side {
  border-style: solid;
}

.res {
  height: 100vh;
}

.test-scroll {
  margin-top: 1000px;
}

.restaurant-page-restaurant-title {
  border-style: solid;
}

.menu {
  border-style: solid;
  height: 100vh;
}

.menu-list {
  margin-top: 20px;
  margin-left: 20px;
  display: grid;
  grid-template-columns: repeat(2, 40%);
  gap: 20px;
}

.menu-item-container {
  height: 100px;
  border-style: solid;
}

.menu-price {
  margin-top: 30px;
}

.test-modal {
  margin-top: 1000px;
}

.exit-menu-item-modal {
  cursor: pointer;
}

.menu-item-modal-name {
  margin-top: 20px;
  font-size: xx-large;
}

@media screen and (max-width:1000px) {
  .restaurant-page {
    display: grid;
    grid-template-columns: 100% 0%;
  }
}


